* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #555;
  font: 400 14px/1.6 "Open Sans",sans-serif;
}

body > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


#hangman {
  border: 1px solid #ddd;
  max-height: 640px;
  max-width: 640px;
}

#footer {
  height: 48px;
  width: 100%;
  padding: 0 2vh;
}

#footer-content {
  align-items: center;
  justify-content: space-between;
}

#mystery {
  max-height: 68px;
}

#gallows {
  max-height: 240px;
  max-width: 240px;
  background-color: #c1d2fd;
}

#guesses,
#keyboard {
  min-height: 90px;
  min-width: 352px;
  max-height: 160px;
  max-width: 352px;
}

#guesses-field,
#keyboard-content,
#mystery-content  {
  -ms-flex-line-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.layout .column,
.layout .row,
.layout [class*="-flex"] {
  display: flex;
}

.layout .column,
.layout [class*="-column"] {
  flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
}

.layout .row,
.layout [class*="-row"] {
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
}

.layout [class*="-content"] {
  align-content: inherit;
  align-items: inherit;
  justify-content: inherit;
  -ms-flex-line-pack: inherit;
  -ms-flex-align: inherit;
  -ms-flex-pack: inherit;
}

.layout [class*="-box"] {
  padding: 0 1em;
}

.layout > .container {
  justify-content: space-around;
}

.layout > .column {
  height: inherit;
  width: inherit;
}

.panel {
  flex: unset;
  height: 100%;
  width: 100%;
}

.panel-content {
  height: inherit;
  width: inherit;
}

.panel-content > .container {
  height: inherit;
  width: inherit;
}
